.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis {
  font: 14px sans-serif;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
